apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: cnpm-food-delivery
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 5005
      targetPort: 5005
  type: ClusterIP
