apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: cnpm-food-delivery
  labels:
    app: order-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: order-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5005
          env:
            - name: PORT
              value: "5005"
            - name: MONGO_ORDER_URL
              valueFrom:
                secretKeyRef:
                  name: cnpm-secrets
                  key: MONGO_ORDER_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cnpm-secrets
                  key: JWT_SECRET
            - name: PAYMENT_SERVICE_URL
              value: "http://payment-service:5004"
            - name: RESTAURANT_SERVICE_URL
              value: "http://restaurant-service:5002"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
                    