apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: auth-uploads-pvc
  namespace: cnpm-food-delivery
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: restaurant-uploads-pvc
  namespace: cnpm-food-delivery
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
