apiVersion: apps/v1
kind: Deployment
metadata:
  name: restaurant-service
  namespace: cnpm-food-delivery
  labels:
    app: restaurant-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: restaurant-service
  template:
    metadata:
      labels:
        app: restaurant-service
    spec:
      containers:
        - name: restaurant-service
          image: restaurant-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5002
          env:
            - name: PORT
              value: "5002"
            - name: MONGO_REST_URL
              valueFrom:
                secretKeyRef:
                  name: cnpm-secrets
                  key: MONGO_RESTAURANT_URL
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cnpm-secrets
                  key: JWT_SECRET
            - name: AUTH_SERVICE_URL
              value: "http://auth-service:5001"
          volumeMounts:
            - name: restaurant-uploads
              mountPath: /app/uploads
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: restaurant-uploads
          persistentVolumeClaim:
            claimName: restaurant-uploads-pvc
